body, html {
    background-color: rgb(33, 37, 41);
}

h1 {
    width: 100%;
    color: #fff;
}

i.fas, i.far {
    width: 70px;
    height: 50px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 2em;

    &.selected {
        border: 2px solid #ddd;
        background-color: rgb(85, 112, 134);
    }

    &.wrinkled {
        transform: rotate(5deg) skewX(-40deg);
    }
}


div.pile {
    position: relative;
    width: 70px;
    height: 80px;

    .item_1 {
        position: absolute;
        top: 1px;
        left: 1px;
    }

    .item_2 {
        position: absolute;
        top: 6px;
        left: 6px;
    }

    .item_3 {
        position: absolute;
        top: 11px;
        left: 11px;
    }

    .item_4 {
        position: absolute;
        top: 16px;
        left: 16px;
    }

    .item_5 {
        position: absolute;
        top: 21px;
        left: 21px;

    }
}

div.lasso-menu {
    border: 4px solid blue;

    .list-group {
        position: absolute;
        right: -100px;
        bottom: -150px;
    }
}

